<!--assignment 1.2 Binding: bind the formGroup and controls we made in our component controller
HINT: [formGroup]="myFormGroup" & [formControl]="myFormControl"-->

<!--assignment 3.1 logging in: add a ngSubmit event to the form tag that we can handle in our controller
HINT: (ngSubmit)="mySubmitMethod()" -->
<form>

    <div class="form-group">
        <label for="login-form-email">Email address</label>
        <input type="email"
               class="form-control"
               id="login-form-email"
               aria-describedby="login-form-email-help"
               placeholder="Enter username">
        <!-- Assignment 2.2 Validation: show validation message
        HINT: <div class="text-danger" *ngIf="my condition">
            Please provide a valid email address
        </div>-->
        <small id="login-form-email-help" class="form-text text-muted">enter a valid email address</small>
    </div>

    <div class="form-group">
        <label for="login-form-password">Password</label>
        <input type="password"
               class="form-control"
               id="login-form-password"
               aria-describedby="login-form-password-help"
               placeholder="Password">
        <small id="login-form-password-help" class="form-text text-muted">enter your password
        </small>
    </div>

    <!--assignment 3.3 logging in: conditionally add a disabled property to the submit button to make sure the user cannot submit until all validation rules are met
    HINT: [disabled]="myCondition"-->
    <button type="submit" class="btn btn-primary">log me in!</button>

</form>
