<section class="mb-3">
    <div class="card bg-dark w-50 m-auto mb-5">
        <div class="card-header">Login using your credentials</div>
        <div class="card-body">
            <app-login-form></app-login-form>
        </div>
    </div>
</section>

<section>
    <div class="card bg-dark w-50 m-auto mt-5">
        <div class="card-header">Not a member yet? signup here!</div>
        <div class="card-body">
            <app-signup-form></app-signup-form>
        </div>
    </div>
</section>
